{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body>

    {% include 'base/nav.html' %}
    
    {% block content %}
        
    {% endblock content %}
        

</body>

</html>